--binarygrouping none
--commas inline
--decimalgrouping 3,8
--hexgrouping none
--ifdef no-indent
--indent 2
--octalgrouping none
--self init-only
--semicolons never
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first